<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Crear Proyecto</h2>
        </div>
        <div class="card-body">
            <form [formGroup]="proyectoGroup" (ngSubmit)="saveProyecto()">
            <div>
                <label for="">Nombre</label>
                <input class="form-control" type="text" formControlName="nombre">
            </div>
            <div>
                <label for="">Descripcion</label>
                <input class="form-control" type="text" formControlName="descripcion">
            </div>
            <div>
                <label for="">Alias</label>
                <input class="form-control" type="text" formControlName="alias">
            </div>
            <div>
                <label for="">Estado</label>
                <select class="form-control" type="text" formControlName="estado">
                    <option value="true">ACTIVO</option>
                    <option value="false">DESACTIVADO</option>
                </select>
            </div>
            <div>
                <label for="">Eliminado</label>
                <select class="form-control" type="text" formControlName="eliminado">
                    <option value="true">ACTIVO</option>
                    <option value="false">DESACTIVADO</option>
                </select>
            </div>
            <div>
                <label for="">Fecha Inicio</label>
                <input class="form-control" type="date" formControlName="fechaInicio">
            </div>
            <div>
                <label for="">Fecha Fin</label>
                <input class="form-control" type="date" formControlName="fechaFin">
            </div>
            <div>
                <label for="">Fecha Actualizacion</label>
                <input class="form-control" type="date" formControlName="fechaActualizacion">
            </div>
            <div>
                <label for="">Fecha Creación</label>
                <input class="form-control" type="date" formControlName="fechaCreacion">
            </div>
            <div>
                <label for="">Tarea</label>
                <input class="form-control" type="number" formControlName="idTarea">
            </div>
            <div>
                <button type="submit" class="btn btn-success">Guardar</button>
            </div>
        </form>
        </div>
        
    </div>

</div>