<div class="container mt-5">
    <div class="row text-center login-page">
        <div class="col-md-12 login-form">
            <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
                <div class="row">
                    <div class="col-md-12 login-form-header">
                        <p class="login-form-font-header"><span>Iniciar Sesion</span>
                        <p>
                    </div>
                </div>
                <div class="col-md-12 login-from-row">
                    <input id="user" type="text" class="input" formControlName="email" placeholder="correo electronico">
                    <div *ngIf="loginForm.get('email').invalid
                                        &&(loginForm.get('email').touched)">
                        <div *ngIf="loginForm.get('email').errors.required">
                            <p class="login-alert">El campo es obligatorio</p>
                        </div>
                        <div *ngIf="loginForm.get('email').errors.pattern">
                            <p class="login-alert">No es un email valido </p>

                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12 login-from-row">
                        <input name="password" type="password" placeholder="Contraseña" formControlName="password"
                            required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 login-from-row">
                        <button class="btn btn-info" type="submit" [disabled]="loginForm.invalid">Entrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>