<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Crear Usuario</h2>
        </div>
        <div class="card-body">
            <form [formGroup]="usuarioGroup" (ngSubmit)="saveUsuario()">
                <div>
                    <label for="">Cedula</label>
                    <input class="form-control" type="text" formControlName="cedula">
                </div>
                <div>
                    <label for="">Nombre</label>
                    <input class="form-control" type="text" formControlName="nombre">
                </div>
                <div>
                    <label for="">Email</label>
                    <input class="form-control" type="text" formControlName="email"> <i class="el el-mic-alt"></i>
                </div>
                <div>
                    <label for="">Contraseña<a href=""></a></label>
                    <input class="form-control" type="text" formControlName="contraseña"> <i class="el el-mic-alt"></i>
                </div>
                <div>
                    <label for="">estado</label>
                    <select class="form-control" type="text" formControlName="estado">
                        <option value="true">ACTIVO</option>
                        <option value="false">DESACTIVADO</option>
                    </select>
                </div>
                <div>
                    <label for="">Fecha Creación</label>
                    <input class="form-control" type="date" formControlName="fechaCreacion">
                </div>
                <div>
                    <label for="">Fecha Actualizacion</label>
                    <input class="form-control" type="date" formControlName="fechaActualizacion">
                </div>
                <div>
                    <label for="">eliminado</label>
                    <select class="form-control" type="text" formControlName="eliminado">
                        <option value="true">ACTIVO</option>
                        <option value="false">DESACTIVADO</option>
                    </select>
                </div>
                <div>
                    <label for="">Proyecto</label>
                    <select class="form-control" name="item" multiple formControlName="proyecto" class="form-control">
                        <option *ngFor="let item of proyectos" [value]="item">{{item.nombre}}</option>
                    </select>
                </div>
                <div>
                    <label for="">Tarea</label>
                    <select class="form-control" name="item" multiple formControlName="tarea" class="form-control">
                        <option *ngFor="let item of tareas" [value]="item">{{item.nombre}}</option>
                    </select>
                </div>
                <div>
                    <label for="">Rol</label>
                    <select class="form-control" name="item" multiple formControlName="rols" class="form-control">
                        <option *ngFor="let item of rols" [value]="item">{{item.description}}</option>
                    </select>
                </div>
                <div>
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </form>
        </div>

    </div>
</div>