<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Actualizar Usuario</h2>
        </div>
        <div class="card-body">
            <form [formGroup]="usuarioGroupUpdate" (ngSubmit)="updateUsuario()">
                <div>
                    <label for="">Cedula</label>
                    <input class="form-control" type="text" formControlName="cedula">
                </div>
                <div>
                    <label for="">Nombre</label>
                    <input class="form-control" type="text" formControlName="nombre">
                </div>
                <div>
                    <label for="">Email</label>
                    <input class="form-control" type="text" formControlName="email"> <i class="el el-mic-alt"></i>
                </div>
                <div>
                    <label for="">estado</label>
                    <select class="form-control" type="text" formControlName="estado">
                        <option value="true">ACTIVO</option>
                        <option value="false">DESACTIVADO</option>
                    </select>
                </div>
                <div class="container">
                    <label for="">Fecha Inicio</label>
                    <div class="row">
                        <input class="form-control col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                            formControlName="fechaCreacion" type="text" disabled>
                        <input class="form-control col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" type="date"
                            formControlName="fechaCreacion">
                    </div>
                </div>
                <div class="container">
                    <label for="">Fecha Actualización</label>
                    <div class="row">
                        <input class="form-control col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                            formControlName="fechaActualizacion" type="text" disabled>
                        <input class="form-control col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" type="date"
                            formControlName="fechaActualizacion">
                    </div>
                </div>
                <div>
                    <label for="">eliminado</label>
                    <select class="form-control" type="text" formControlName="eliminado">
                        <option value="true">ACTIVO</option>
                        <option value="false">DESACTIVADO</option>
                    </select>
                </div>
                <div>
                    <label for="">Proyecto</label>
                    <select class="form-control" name="item" multiple formControlName="proyecto" class="form-control">
                        <option *ngFor="let item of proyectos" [value]="item">{{item.nombre}}</option>
                    </select>
                </div>
                <div>
                    <label for="">Tarea</label>
                    <select class="form-control" name="item" multiple formControlName="tarea" class="form-control">
                        <option *ngFor="let item of tareas" [value]="item">{{item.nombre}}</option>
                    </select>
                </div>
                <div>
                    <label for="">Rol</label>
                    <select class="form-control" name="item" multiple formControlName="rols" class="form-control">
                        <option *ngFor="let item of rols" [value]="item">{{item.description}}</option>
                    </select>
                </div>
                <div>
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </form>
        </div>

    </div>
</div>