<div class="container">
    <div class="d-flex justify-content-between">
        <div class="">
            <h2>
                Lista de proyectos
            </h2>
        </div>
        <div class="">
            <button class="btn btn-warning" [routerLink]="[ '../proyecto-create']">Crear Proyecto</button>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Alias</th>
                <th scope="col">estado</th>
                <th scope="col">Eliminado</th>
                <th scope="col">Fecha Inicio</th>
                <th scope="col">Fecha Fin</th>
                <th scope="col">Fecha Creacion</th>
                <th scope="col">Fecha Actualización</th>
                <th scope="col">Eliminar</th>
                <th scope="col">Actualizar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listaProyecto">
                <td>{{item.id}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.descripcion}}</td>
                <td>{{item.alias}}</td>
                <td>{{item.estado}}</td>
                <td>{{item.eliminado}}</td>
                <td>{{item.fechaInicio | date :'dd-MMM-yy'}}</td>
                <td>{{item.fechaFin | date :'dd-MMM-yy'}}</td>
                <td>{{item.fechaCreacion | date :'dd-MMM-yy'}}</td>
                <td>{{item.fechaActualizacion | date :'dd-MMM-yy'}}</td>
                <td>
                    <button type="button" (click)="delete(item.id)"
                        class="btn btn-danger">Eliminar</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary"
                        [routerLink]="[ '../proyecto-update',item.id]">Actualizar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>