<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Actualizar Proyecto</h2>
        </div>
        <div class="card-body">
            <form [formGroup]="proyectoGroupUpdate" (ngSubmit)="proyectoUpdate()">
                <div>
                    <label for="">Nombre</label>
                    <input class="form-control" type="text" formControlName="nombre">
                </div>
                <div>
                    <label for="">Descripcion</label>
                    <input class="form-control" type="text" formControlName="descripcion">
                </div>
                <div>
                    <label for="">Alias</label>
                    <input class="form-control" type="text" formControlName="alias">
                </div>
                <div>
                    <label for="">Estado</label>
                    <select class="form-control" type="text" formControlName="estado">
                        <option value="true">ACTIVO</option>
                        <option value="false">DESACTIVADO</option>
                    </select>
                </div>
                <div>
                    <label for="">Eliminado</label>
                    <select class="form-control" type="text" formControlName="eliminado">
                        <option value="true">ACTIVO</option>
                        <option value="false">DESACTIVADO</option>
                    </select>
                </div>
                <div class="container">
                    <label for="">Fecha Inicio</label>
                    <div class="row">
                        <input class="form-control col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                            formControlName="fechaInicio" type="text" disabled>
                        <input class="form-control col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" type="date"
                            formControlName="fechaInicio">
                    </div>
                </div>
                <div class="container">
                    <label for="">Fecha Fin</label>
                    <div class="row">
                        <input class="form-control col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                            formControlName="fechaFin" type="text" disabled>
                        <input class="form-control col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" type="date"
                            formControlName="fechaFin">
                    </div>
                </div>
                <div class="container">
                    <label for="">Fecha Actualización</label>
                    <div class="row">
                        <input class="form-control col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                            formControlName="fechaActualizacion" type="text" disabled>
                        <input class="form-control col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" type="date"
                            formControlName="fechaActualizacion">
                    </div>
                </div>
                <div class="container">
                    <label for="">Fecha Creación</label>
                    <div class="row">
                        <input class="form-control col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                            formControlName="fechaCreacion" type="text" disabled>
                        <input class="form-control col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" type="date"
                            formControlName="fechaCreacion">
                    </div>
                </div>
                <div>
                    <label for="">Tarea</label>
                    <input class="form-control" type="number" formControlName="idTarea">
                </div>
                <div>
                    <button type="submit" class="btn btn-success">Actualizar</button>
                </div>
            </form>
        </div>

    </div>

</div>