<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div>
        <img src="../../../../assets/images/LogoNovaIP.png" alt="" width="200" height="50" class="d-inline-block align-text-top">
    </div>
    <div>
        <ul class="d-flex lista">
            <li *appHasAnyAuthority="['ROLE_ADMINISTRADOR','ROLE_LIDER']" class="ml-5">
                <a routerLink="/dashboard/usuario-list">Usuarios</a>
            </li>
            <li *appHasAnyAuthority="['ROLE_ADMINISTRADOR']" class="ml-5">
                <a routerLink="/dashboard/tarea-list">Tarea</a>
            </li>
            <li *appHasAnyAuthority="['ROLE_ADMINISTRADOR']" class="ml-5">
                <a routerLink="/dashboard/proyecto-list">Proyecto</a>
            </li>
        </ul>
    </div>
    <div>
        <button class="btn btn-primary" (click)="cerrarSesion()">cerrar sesion</button>
    </div>
</nav>