<div class="container">
    <div class="d-flex justify-content-between">
        <div class="">
            <h2>
                Lista de Usuarios
            </h2>
        </div>
        <div class="">
            <button class="btn btn-warning" [routerLink]="[ '../usuario-create']">Crear Usuario</button>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cedula</th>
                <th scope="col">Email</th>
                <th scope="col">estado</th>
                <th scope="col">Eliminado</th>
                <th scope="col">Fecha Inicio</th>
                <th scope="col">Fecha Actualización</th>
                <td scope="col">Eliminar</td>
                <td scope="col">Actualizar</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listaUsuarios">
                <td>{{item.id}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.cedula}}</td>
                <td>{{item.email}}</td>
                <td>{{item.estado}}</td>
                <td>{{item.eliminado}}</td>
                <td>{{item.fechaInicio | date :'dd-MMM-yy'}}</td>
                <td>{{item.fechaActualizacion | date :'dd-MMM-yy'}}</td>
                <td>
                    <button type="button" (click)="delete(item.id)"
                        class="btn btn-danger">Eliminar</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary"
                        [routerLink]="[ '../usuario-update',item.id]">Actualizar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>